
body
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: #fff;
}
a
{
    text-decoration: none;
}

.page-container
{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.main-header
{
    background-color: #f4f7f9;
}

.user-functions
{
    font-size: 17px;
    line-height: 14px;

    color: #fff;
    background-color: #293449;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

.container-box
{
  width: 100%;
}

.container-box__inner
{
  width: 940px;
  margin: 0px auto;
}

.user-functions .container-box__inner
{
  display: flex;
  align-items: center;
  padding-left: 237px;
  position: relative;
}

.header-info .container-box__inner{
  display: flex;
}

.user-functions__list
{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin-block-end: 0;
  margin-block-start: 0;
}

.header-search
{
  margin-top: 10px;
}

.purchase
{
  display: flex;
  list-style: none;
}
.purchase a
{
  display: flex;
  color: #fff;
  padding: 14px 13px;
}



.purchase a:hover
{
    background-color: #212a3a;
}

.purchase a:active
{
    color: rgba(255, 255, 255, .6);
    background-color: #161d29;
}

.main-header-logo
{
    display: inline-block;

    padding: 13px 56px 13px 55px;

    user-select: none;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);

    position: absolute;
    left: 0;
    top: 0;
}

.main-header-logo:hover
{
    background-color: #ca2c37;
}

.main-header-logo:active
{
    background-color: #ba2732;
}

.search input[type='search']
{
    border: none;
    background-color: #293449;
}

.search input::placeholder
{
    font-family: Cuprum, sans-serif;
    font-size: 17px;

    text-align: left;

    color: #fff;
}

.search input:hover
{
    background-color: #212a3a;
}

.search input:focus
{
    font-family: Cuprum, sans-serif;
    font-size: 17px;

    color: black;
    background-color: #fff;
}



a.full
{
    user-select: none;

    background-color: #ee3643;
}
a.full:hover
{
    background-color: #ca2c37;
}

a.full:active
{
  color: #f1f5f7;
  background-color: #ba2732;
}


a.checkout
{
  user-select: none;
  padding: 14px 22px 14px 20px;
  background-color: #63a63e;
}
a.checkout:hover
{
  background-color: #5fbb2d;
}

a.checkout:active
{
    color: #f1f5f7;
    background-color: #518534;
}

.header-info
{
  display: flex;
}

.header-info h1
{
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;

  text-align: left;
  letter-spacing: normal;
  padding: 38px 79px 22px 51px;
  color: #ee3643;
}

.header-contacts
{
 padding-top: 57px;
}

.header-contacts a
{
    font-family: Cuprum, sans-serif;
    font-size: 21px;

    padding: 5px 52px 10px 65px;

    color: #ee3643;
    border: solid 3px #fff;
}

.header-contacts p
{
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;

    color: #32425c;
}

.authorization-list
{
  display: flex;
  margin: 0;
}

.authorization li
{
    margin-top: 62px;

    list-style: none;
}

.authorization a
{
    font-size: 21px;
    line-height: 21px;

    user-select: none;

    color: #000;
    background-color: #fff;

    margin: 0 10px;
    padding: 15px 15px 10px 25px;
}

.authorization a:hover
{
    color: #ee3643;
}

.authorization a:active
{
    color: rgba(0, 0, 0, .3);
}

/*.authorization .sign-up
{
    padding: 14px 25px 11px 25px;
}

.authorization .log-in
{
    padding: 14px 27px 15px 48px;
}
*/

.user-profile p
{
    width: 299px;
    height: 45px;

    text-align: left;

    background-color: #fff;
}

.user-name a
{
    font-size: 21px;
    line-height: 21px;

    padding-left: 47px;

    color: #000;
}
.user-name a:active,
.menu-elements a:active
{
    opacity: .3;
}

.menu-elements
{
    list-style: none;
}

.menu-elements a
{
    font-size: 16px;

    text-decoration: underline;

    color: #32425c;
}

.menu-elements a:not(:active):hover
{
    color: #ee3643;
}

.authorization.catalog
{
    display: none;
}

.main-navigation
{
  padding-bottom: 60px;
  margin-bottom: 59px;

}

.site-navigation
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  padding: 0 22px;
}

.site-navigation li
{
  font-family: Cuprum;

  list-style: none;
  padding: 21px 30.5px;

  display: flex;
}

.site-navigation a
{
    font-size: 17px;
    line-height: 17px;

    text-align: left;

    color: #fff;
}

.site-navigation li:hover
{
  background-color: #293449;
}

.site-navigation li:active
{
    color: #f1f5f7;
    background-color: #1d2739;
}

.main-container
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.breadcrumbs
{
    list-style: none;
}

.breadcrumbs-current,
.breadcrumbs a
{
    font-family: PTSans, sans-serif;
    font-size: 13px;

    text-transform: uppercase;

    color: #000;
}

.breadcrumbs-current
{
    line-height: 18px;
}

.main-container h1
{
    font-size: 30px;

    text-transform: uppercase;

    color: #32425c;
    background-color: #f2f6f8;
}

.main-container h2
{
    font-size: 30px;

    text-align: left;
    text-transform: uppercase;
    font-weight: 400;

    color: #000;
}

.main-container p
{
    font-family: PTSans, sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin-block-start: 0;
    margin-block-end: 23px;

    text-align: left;

    color: #000;
}

.contacts-info
{
  display: flex;
  justify-content: space-between;

}


.info {
  display: flex;
  flex-direction: column;
}

.info:nth-child(3)
{
  margin-block-end: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*Слайды категорий*/

.categories {
  display: flex;
  flex-wrap: wrap;

}

.categories-list__first-row {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  width: 100%;
}

.categories-list__first-row li {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #FFF;
  padding: 21px 23px 20px 23px;
  margin-top: 0;
}

.cat-list__title {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin: 0;
  padding-right: 79px;

}

.cat-button {
  text-transform: uppercase;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  width: 135px;
  margin-top: 11px;
}

.categories-list__first-row li:first-child
{
  background-color: #ffbf47;
}

.categories-list__first-row .new-item::after {
  position: absolute;
  left: 240px;
  top: 0;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  width: 60px;
  height: 59px;
}

.categories-list__first-row li:nth-child(2)
{
  background-color: #3bbce3;

}

.categories-list__first-row li:last-child
{
  background-color: #dc91d8;

}

.categories-list__first-row .new-item {
  left: 0;
  top: 0;
}

.categories-list__second-row
{
  display: flex;
  justify-content: space-between;
}

.categories-slider
{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 620px;
  height: 266px;
  background-image: url(../img/slide-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

.categories-slider h3 {
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
}

.categories-slider p{
  font-family: 'Cuprum', Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.slider-button {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  border-radius: 3px;
  padding: 14px 45px 14px 49px;
  width: 195px;
}

.slider-button:hover {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

.categories-list__right-column
{
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-top: 0;
  margin-left: 20px;
}

.categories-list__right-column li
{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 123px;
  color: #FFF;

}

.categories-list__right-column li:first-child
{
  background-color: #8ed78f;
  margin-bottom: 20px;
  margin-top: 20px;
}

.categories-list__right-column li:last-child
{
  background-color: #ffc047;
}


/*Популярные товары*/
.popular-goods{
  display: flex;
  flex-direction: column;
}

.popular-goods__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f9f5f0;
  margin-top: 38px;
}

.popular-goods__heading h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;

  padding-left: 28px;
  margin-top: 28px;
}

.popular-goods__heading a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;

  background-color: #ee3643;
  border-radius: 3px;
  padding: 12px 55px 5px 55px;
  margin-top: 23px;
  margin-right: 24px;
  height: 38px;
  margin-bottom: 26px;
}

.popular-goods__heading a:hover {
  background-color: #ca2c37;
}

.popular-goods__heading a:active {
  background-color: #ba2732;
}

.popular-goods__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 21px;
  margin-bottom: 21px;
}

.no-discount__button {
  margin-top: 44px;
}

.popular-goods__items .cross-out {
  color: #a9a9a9;
}

.new-item {
  position: relative;
}

.new-item::after {
  position: absolute;
  left: 159px;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  width: 60px;
  height: 59px;
}

/*Каталог*/
.filters
{
    font-family: PTSans, sans-serif;
    font-size: 15px;

    text-transform: uppercase;

    color: #000;
}

.filters legend
{
    font-size: 17px;
    font-weight: 700;

    letter-spacing: .2px;
}

.filters fieldset
{
    border: none;
}

.checkboxes li
{
    list-style: none;
}

.show-button
{
    font-family: PTSans, sans-serif;
    font-size: 13px;

    text-transform: uppercase;
}

.item-hover
{
    display: none;
}

/*
.item-hover:hover
{
  display: block;
}

.catalog-item:hover
{
   box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
   display: none;

}
*/

.catalog-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;

}

.item-name {
  margin: 0 auto;
}

 .item-name a
{
  display: flex;
  font-family: PTSans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;

  margin: 0 auto;

  text-align: center;

  color: #000;
}

.catalog-item span
{
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 8px;

  font-family: PTSans, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  text-decoration: line-through;
  color: #999;
}

.catalog-item .button
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  font-family: PTSans, sans-serif;
  font-size: 17px;
  font-weight: 700;

  color: #fff;
  background-image: url("../img/item-button.svg");
  /*background-color: #ee3643;*/
  background-position: center;
  background-repeat: no-repeat;

  height: 38px;
}

.companies
{
  display: flex;
  flex-direction: column;
  font-size: 18px;

  list-style: none;

  text-align: left;
  padding-inline-start: 0;

  color: #000;
}

.companies li
{
  padding-bottom: 20px;
}

.companies li::before
{
    display: inline-block;

    width: 25px;
    height: 2px;
    margin-right: 11px;

    content: '';
    vertical-align: middle;

    background-color: #ee3643;
}

.info a
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 220px;
  height: 38px;

  margin-top: 37px; /*не работает без display block?*/

  user-select: none;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
}


.info a:hover
{
    background-color: #ca2c37;
}

.info a:active
{
    background-color: #ba2732;
}

.map
{

}

.contacts a
{
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 38px;

    margin-top: 40px;
    margin-bottom: 86px;

    user-select: none;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}

.contacts a:hover
{
    background-color: #ca2c37;
}

.contacts a:active
{
    background-color: #ba2732;
}

.main-footer
{
    background-color: #32425c;
    display: flex;
    flex-direction: column;
}

.footer-nav_and_logo
{
  display: flex;
  align-items: flex-start
}

.main-footer-logo
{
    display: inline-block;

    padding: 20px 41px 22px 41px;

    user-select: none;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
}

.main-footer-logo:hover
{
    background-color: #ca2c37;
}

.main-footer-logo:active
{
    background-color: #ba2732;
}

.footer-site-navigation
{
  display: flex;
  padding-left: 133px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer-navigation li
{
  display: flex;
    list-style: none;
}

.footer-site-navigation a
{
    font-family: Cuprum, sans-serif;
    font-size: 18px;
    line-height: 24px;

    text-align: left;
}

.footer-social
{
  display: flex;
}

.general-list {
  display: flex;
  justify-content: space-between;
  width: 588px;
}

.general-list a
{

    color: #f1f5f7;
}

.additional-list
{
  display: flex;
  justify-content: space-between;
  width: 588px;
  padding-left: 63px;
}
.additional-list a
{
    color: #ffd180;
}

.footer-site-navigation a:hover
{
    text-decoration-line: underline;
}
.footer-site-navigation a:active
{
    opacity: .5;
}

.footer-contacts
{
    color: #f3f7f9;
    display: flex;
}

.additional-info
{
  display: flex;
  font-family: Cuprum, sans-serif;
  font-size: 16px;
  line-height: 18px;

  text-align: left;

  color: #fff;
  background-color: #293449;
}

.social-media
{
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media a
{
    color: #fff;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 42px;
    height: 42px;
    margin: 3px;
    background-color: #212a3a;
    border-radius: 50px;
}

.social-media a:hover,
.social-media a:active
{
    background-color: #ee3643;
}

.dev-contacts a
{
    color: #ffd180;
}

.dev-contacts a:hover
{
    text-decoration-line: underline;
}

.dev-contacts a:active
{
    text-decoration: none;

    color: #ee3643;
}

.letter-form
{
    font-family: Cuprum, sans-serif;
    font-size: 18px;
    line-height: 18px;

    text-align: left;

    color: #000;
    background-color: #fff;
}

.letter
{
    width: 620px;
    height: 430px;

    border-top: 7px solid #ff5156;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
}

.letter-form input,
textarea
{
    border: solid 2px #dee3e4;
    background-color: #fff;
}

.letter-form input[type='text'],
textarea
{
    font-family: PTSans-Regular, sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-align: left;

    color: #999;
}

.letter-form input:hover,
textarea:hover
{
    border-color: #b5b5b5;
}

.letter-form input:focus,
textarea:focus
{
    border-color: #ee3643;
}

.letter-form input[type=submit]
{
    font-family: Cuprum, sans-serif;
    font-size: 18px;

    width: 460px;
    height: 38px;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #ee3643;
}

.letter-form input[type=submit]:hover
{
    background-color: #ca2c37;
}

.letter-form input[type=submit]:active
{
    background-color: #ba2732;
}

.letter-form button
{
    font: inherit;

    color: inherit;
    border: none;
    background-color: transparent;
}

.visually-hidden
{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}
