
body
{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: #fff;
}
a
{
    text-decoration: none;
}

.main-header
{
    background-color: #f4f7f9;
}

.user-functions
{
    font-size: 17px;
    line-height: 18px;

    color: #fff;
    background-color: #32425c;
}


.purchase
{
    list-style: none;
}
.purchase a
{
    color: #fff;
}

.purchase a:hover
{
    background-color: #212a3a;
}

.purchase a:active
{
    color: rgba(255, 255, 255, .6);
    background-color: #161d29;
}

.main-header-logo
{
    display: inline-block;

    padding: 13px 56px 13px 55px;

    user-select: none;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
}

.main-header-logo:hover
{
    background-color: #ca2c37;
}

.main-header-logo:active
{
    background-color: #ba2732;
}

.search input[type='search']
{
    border: none;
    background-color: #293449;
}

.search input::placeholder
{
    font-family: Cuprum, sans-serif;
    font-size: 17px;

    text-align: left;

    color: #fff;
}

.search input:hover
{
    background-color: #212a3a;
}

.search input:focus
{
    font-family: Cuprum, sans-serif;
    font-size: 17px;

    color: black;
    background-color: #fff;
}

a.checkout
{

    user-select: none;

    background-color: #63a63e;
}
a.checkout:hover
{
    background-color: #5fbb2d;
}

a.checkout:active
{
    color: #f1f5f7;
    background-color: #518534;
}

.header-info h1
{
    font-family: Cuprum;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    text-align: left;
    letter-spacing: normal;

    color: #ee3643;
}

.header-contacts a
{
    font-family: Cuprum, sans-serif;
    font-size: 21px;

    padding: 13px 52px 11px 74px;

    color: #ee3643;
    border: solid 3px #fff;
}

.header-contacts p
{
    font-family: Cuprum, sans-serif;
    font-size: 14px;
    line-height: 24px;

    color: #32425c;
}
.authorization li
{
    margin-top: 62px;

    list-style: none;
}

.authorization a
{
    font-size: 21px;
    line-height: 21px;

    user-select: none;

    color: #000;
    background-color: #fff;
}

.authorization a:hover
{
    color: #ee3643;
}

.authorization a:active
{
    color: rgba(0, 0, 0, .3);
}

.authorization .sign-up
{
    padding: 14px 25px 11px 25px;
}

.authorization .log-in
{
    padding: 14px 27px 15px 48px;
}

.main-navigation
{
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation li
{
    font-family: Cuprum;

    list-style: none;
}
.site-navigation a
{
    font-size: 17px;
    line-height: 17px;

    text-align: left;

    color: #fff;
}

.site-navigation a:hover
{
    background-color: #293449;
}

.site-navigation a:active
{
    color: #f1f5f7;
    background-color: #1d2739;
}

.container
{
    background-color: #fff;
}

.container h2
{
    font-size: 30px;

    text-align: left;
    text-transform: uppercase;

    color: #000;
}

.container p
{
    font-family: PTSans, sans-serif;
    font-size: 13px;
    line-height: 24px;

    margin-bottom: 36px;

    text-align: left;

    color: #000;
}

.companies
{
    font-size: 18px;

    list-style: none;

    text-align: left;

    color: #000;
}

.companies li::before
{
    display: inline-block;

    width: 25px;
    height: 2px;
    margin-right: 11px;

    content: '';
    vertical-align: middle;

    background-color: #ee3643;
}

.info a
{
    font-size: 14px;

    margin-top: 37px; /*не работает без display block?*/
    padding: 14px 40px 12px 41px;

    user-select: none;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}


.info a:hover
{
    background-color: #ca2c37;
}

.info a:active
{
    background-color: #ba2732;
}

.map
{
    margin: 36px 130px 40px;
}

.contacts a
{
    font-size: 14px;

    display: inline-block;

    margin-top: 40px; /*не работает без display block?*/
    margin-bottom: 86px;
    padding: 14px 40px 12px 41px;

    user-select: none;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 3px;
    background-color: #ee3643;
}

.contacts a:hover
{
    background-color: #ca2c37;
}

.contacts a:active
{
    background-color: #ba2732;
}

.main-footer
{
    background-color: #32425c;
}

.main-footer-logo
{
    display: inline-block;

    padding: 13px 56px 13px 55px;

    user-select: none;

    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
}

.main-footer-logo:hover
{
    background-color: #ca2c37;
}

.main-footer-logo:active
{
    background-color: #ba2732;
}


.footer-navigation li
{
    list-style: none;
}

.footer-site-navigation a
{
    font-family: Cuprum, sans-serif;
    font-size: 18px;
    line-height: 24px;

    text-align: left;
}

.general-list a
{
    color: #f1f5f7;
}

.additional-list a
{
    color: #ffd180;
}

.footer-site-navigation a:hover
{
    text-decoration-line: underline;
}
.footer-site-navigation a:active
{
    opacity: .5;
}

.footer-contacts
{
    color: #f3f7f9;
}

.additional-info
{
    font-family: Cuprum, sans-serif;
    font-size: 16px;
    line-height: 18px;

    text-align: left;

    color: #fff;
    background-color: #293449;
}

.social-media
{
    list-style: none;
}

.social-media a
{
    color: #fff;
}

.social-media a:hover,
.social-media a:active
{
    background-color: #ee3643;
}

.dev-contacts a
{
    color: #ffd180;
}

.dev-contacts a:hover
{
    text-decoration-line: underline;
}

.dev-contacts a:active
{
    text-decoration: none;

    color: #ee3643;
}

.letter-form
{
    font-family: Cuprum, sans-serif;
    font-size: 18px;
    line-height: 18px;

    text-align: left;

    color: #000;
    background-color: #fff;
}

.letter
{
    width: 620px;
    height: 430px;

    border-top: 7px solid #ff5156;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
}

.letter-form input,
textarea
{
    border: solid 2px #dee3e4;
    background-color: #fff;
}

.letter-form input[type='text'],
textarea
{
    font-family: PTSans-Regular, sans-serif;
    font-size: 13px;
    line-height: 18px;

    text-align: left;

    color: #999;
}

.letter-form input:hover,
textarea:hover
{
    border-color: #b5b5b5;
}

.letter-form input:focus,
textarea:focus
{
    border-color: #ee3643;
}

.letter-form input[type=submit]
{
    font-family: Cuprum, sans-serif;
    font-size: 18px;

    width: 460px;
    height: 38px;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #ee3643;
}

.letter-form input[type=submit]:hover
{
    background-color: #ca2c37;
}

.letter-form input[type=submit]:active
{
    background-color: #ba2732;
}

.letter-form button
{
    font: inherit;

    color: inherit;
    border: none;
    background-color: transparent;
}

.visually-hidden
{
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
}
